<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find pioneerbot_description)/urdf/pioneer/common_inertial.xacro"/>
    <xacro:macro name="camera_xacro" params="xyz">
        <link name="camera_link">
            <!-- 部件外观描述 -->
            <visual>
                <!-- 沿着自己的几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                    <box size="0.025 0.09 0.025"/> 
                </geometry>
                <!-- 材质颜色 - 金属银灰色 -->
                <material name="camera_material">
                    <color rgba="0.65 0.65 0.68 1.0"/>
                </material>
            </visual>
            <collision>
                <!-- 沿着自己的几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                    <box size="0.025 0.09 0.025"/> 
                </geometry>
                <!-- 材质颜色 - 金属银灰色 -->
                <material name="camera_material">
                    <color rgba="0.65 0.65 0.68 1.0"/>
                </material>
            </collision>
            <xacro:box_inertia m="0.3" w="0.025" h="0.025" d="0.09" />
        </link>
        <link name="camera_optical_link"></link>
        <!-- 机器人的关节 -->
        <joint name="camera_joint" type="fixed">
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="camera_link"/>
        </joint>
        <joint name="camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
            <parent link="camera_link"/>
            <child link="camera_optical_link"/>
        </joint>
    </xacro:macro>
</robot>