controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController
      ros__parameters:
        left_wheel_names: ["front_left_wheel_joint", "rear_left_wheel_joint"]
        right_wheel_names: ["front_right_wheel_joint", "rear_right_wheel_joint"]
        wheel_separation: 0.332
        wheel_radius: 0.05
        linear.x.max_velocity: 0.5
        angular.z.max_velocity: 1.0
        publish_rate: 50.0
        odom_frame_id: odom
        base_frame_id: base_footprint
        pose_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
        twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]